<!doctype html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Cook Book Collection Manager</title>
 </head>
 <body>
   <h1>Add a Cook Book:</h1>
   <form action="/add" method="POST">
     <label for="title">Title:</label>
     <input type="text" id="title" name="title" placeholder="Title" required />
     <label for="author">Author:</label>
     <input type="text" id="author" name="author" placeholder="Author" required />
     <label for="price">Price:</label>
     <input type="text" id="price" name="price" placeholder="Price" />
     <button type="submit">Add To Cook Books Collection</button>
   </form>
 </body>
</html>
