<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example TItle</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />

  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><a href="/">Index</a></h1>
          <div class="links">
            <a href="/a">a</a>
            <a href="/b">b</a>
          </div>

          <p></p>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html> -->


<h1>Recipes</h1>

<p>
  <a href="/new/">Add new recipe</a>
</p>

{{#recipes}}
  <div class="recipe">
  <h2>
    <a href="/{{_id}}">
      {{name}}
    </a>
  </h2>
  <dl>
  {{#source}}
  <dt>
    Source
  </dt>
  <dd>
    {{.}}
  </dd>
  {{/source}}
  {{#prepTime}}
  <dt>
    Prep time
  </dt>
  <dd>
    {{.}}
  </dd>
  {{/prepTime}}
  {{#cookTime}}
  <dt>
    Cook time
  </dt>
  <dd>
    {{.}}
  </dd>
  {{/cookTime}}
  </dl>
  </div>
{{/recipes}}
