<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>Cook Books:</h1>
  <div class="container">
		<!-- for recipes put yield in triple }s. -->

		<p>
	     <a href="/add" class="button">Add A Cook Book</a>
	   </p>


		{{#cookbooks}}
        {{title}}
				{{author}}
				{{price}}
    {{/cookbooks}}



  </div>
</body>
</html>
