<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Cook Books</title>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>Cook Books:</h1>
  <div class="container">
		<p><a href="/add" class="button">Add Cook Book</a></p>
		<p><a href="/remove" class="button">Remove Cook Book</a></p>
		<hr />
		{{#cookbooks}}
		    <div class="book_box">
					<p><a href="/{{_id}}/new_recipe">{{title}}</a></p>
					<p>{{author}}</p>
					<p>${{price}}</p>
					<p><a href="/{{title}}/edit">Edit Cook Book</a></p>
					{{#triedRecipe}}
					<div class="recipe_box">
						<ul>
							<p><a href="/{{_id}}/edit_recipe">Recipe: {{recipeTitle}}</a></p>
							<p>Page Number: {{pageNumber}}</p>
							<p>Delicious: {{tasty}}</p>
						</ul>
				  </div>
					{{/triedRecipe}}
				</div>
				<hr />
				<br />
    {{/cookbooks}}
		{{^cookbooks}}
      <h2>No Cook Books Yet</h2>
    {{/cookbooks}}
  </div>
</body>
</html>
